@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.nav {
  font-family: 'Poppins', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1110px;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  font-weight: 400;
  font-size: 16px;
  color: #111111;
}

.nav__buttons {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  color: #783BFF;
  width: 120px;
}

.nav__button__sign__up {
  outline: auto;
  color: #e1e4eb;
  border: 1px solid #E1E4EB;
}

a {
  text-decoration: none;
}

.home {
  color: black;
}

.home__heading {
  font-size: 71px;
  font-weight: 400;
  line-height: 1.1;
}

.home__paragraph {
  font-size: 22px;
  font-weight: 400;
  width: 90%;
  margin-top: -15px;
}

.list__labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 159px;
  width: 1110px;
}

.list__labels::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 115px;
  height: 2px;
  content: "";
  background: #E1E4EB;
  width: 1110px;
  margin: auto;
}

.home__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1090.27px;
  margin: auto;
  padding-top: 65px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home__text {
  font-weight: 400;
  letter-spacing: -3.6px;
  line-height: 78px;
  width: 607px;
}

.home__paragraph {
  font-size: 22px;
  font-weight: 400;
  width: 90%;
  margin-top: -15px;
  letter-spacing: -0.4px;
  line-height: 32px;
  color: #111111;
  opacity: 0.4;
  padding-top: 33px;
}

.home__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 446px;
  padding-top: 46px;
}

.home__placeholder {
  border: none;
  padding: 10px 45px;
  background-color: #f0f0f0;
  height: 50px;
  width: 255px;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  font-size: 16px;
  color: #A9ABBD;
}

.home__button {
  border: none;
  background-color: #6AC75A;
  color: white;
  width: 175px;
  height: 50px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.options {
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.option__title {
  font-size: 64px;
  width: 775px;
  letter-spacing: -3px;
  margin: auto;
  text-align: center;
  padding-bottom: 62px;
}

.option__list {
  font-family: 'Poppins', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
  width: 1110px;
  margin: auto;
}

.option__elem {
  width: 350px;
  height: 400px;
  background-color: #f0f0f0;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 22px;
  border-radius: 10px;
}

.list__elem {
  font-size: 36px;
  font-weight: 400;
  width: 301px;
  padding-top: 23.06px;
}

.list__paragraph {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.4px;
  opacity: 0.5;
  padding-top: 15px;
  line-height: 28px;
}

.list__div {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 301px;
}

.list__link {
  margin-top: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.list__top__img {
  width: 25px;
  height: auto;
}

.pr {
  position: relative;
}

.visually-hidden {
  display: none;
}

.card__link {
  position: absolute;
  inset: 0;
  cursor: pointer;
}

.bottom__title {
  width: 752px;
  margin: auto;
  font-size: 22px;
  letter-spacing: -0.4px;
  line-height: 32px;
  opacity: 0.4;
  text-align: center;
}

.options__button {
  width: 191px;
  height: 50px;
  background-color: #6AC75A;
  color: white;
  text-decoration: none;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  margin-top: 35px;
}

.button__elem {
  letter-spacing: -0.36px;
  font-size: 16px;
  text-align: center;
  margin-top: 17px;
  font-weight: 500;
}

.reference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin: auto;
  margin-top: 181px;
}

.reference__link {
  background-color: #6AC75A;
  width: 225px;
  line-height: px;
  height: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-decoration: none;
  border-radius: 5px;
}

.reference__button {
  line-height: 50px;
  color: white;
}

.reference__arrow {
  background-color: #6AC75A;
  margin-top: 16px;
  margin-left: -30px;
}

.reference__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 500px;
  margin-top: 40px;
}

.title__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 250px;
  margin-left: -10px;
}

.reference__title {
  font-size: 24px;
  letter-spacing: -0.8px;
  line-height: 64px;
}

.reference__paragraph {
  font-size: 64px;
  width: 485px;
  letter-spacing: -3px;
  line-height: 72px;
}

.keyfolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.keyfolder__title {
  font-size: 64px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -3px;
  margin: auto;
}

.keyfolder__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  line-height: 30px;
  width: 235px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 11px;
}

.keyfolder__paragraph {
  font-weight: 500;
  color: #783BFF;
}

.keyfolder__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1110px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.keyfolder__img {
  width: 730px;
  background-color: #F8F8F8;
  height: 540px;
}

.keyfolder__phone {
  height: 540px;
  width: 360px;
  background-color: #F8F8F8;
}

.keyfolder__block {
  padding-top: 70px;
}

.keyfolder__bottom {
  margin: auto;
  letter-spacing: -0.4px;
  opacity: 0.4;
  line-height: 32px;
  font-size: 22px;
  width: 752px;
  text-align: center;
  font-weight: 500;
  padding-top: 50px;
}

.cards {
  width: 1118px;
  margin: auto;
  padding-top: 180px;
  background: white;
  margin-bottom: 90px;
}

.cards__title {
  font-size: 64px;
  letter-spacing: -3px;
  line-height: 78px;
  width: 775px;
}

.cards__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 1120px;
  margin: auto;
  margin-top: 62px;
}

.container {
  width: 350px;
  height: 430px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .card {
  position: relative;
  cursor: pointer;
}

.container .card .face {
  width: 350px;
  height: 430px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .card .face.face1 {
  position: relative;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  color: black;
  border-radius: 10px;
  border: 1px solid #A9ABBD;
}

.container .card:hover .face.face1 {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: black;
  color: white;
  border: none;
}

.container .card:hover .face.face1 button {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #783BFF;
  color: white;
  cursor: pointer;
  border: none;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.card__type {
  font-size: 22px;
  letter-spacing: -0.4px;
  opacity: 0.4;
  margin-bottom: 15px;
}

.card__price {
  font-size: 48px;
  letter-spacing: -1.6px;
}

.card__accent {
  opacity: 0.4;
  font-size: 22px;
}

.card__list {
  font-size: 18px;
  letter-spacing: -0.4px;
  list-style: none;
  line-height: 50px;
  margin-bottom: 40px;
  padding-top: 35px;
}

.card__button {
  width: 290px;
  height: 50px;
  border: 1px solid #A9ABBD;
  border-radius: 5px;
  background-color: white;
  color: #783BFF;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.card__bottom {
  font-size: 18px;
  line-height: 28px;
  opacity: 0.4;
  letter-spacing: -0.4px;
  width: 621px;
  margin-top: 50px;
  font-weight: 500;
}

footer {
  background-color: #111111;
  height: 480px;
}

button {
  cursor: pointer;
}

.footer__content {
  width: 1115px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 50px;
}

.footer__head {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.footer__list1 {
  line-height: 32px;
  cursor: pointer;
}

.footer {
  color: white;
  opacity: 0.4;
  line-height: 40px;
}

.footer1 {
  margin-top: 20px;
  color: white;
  opacity: 0.4;
}

.footer__bottom::before {
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  content: "";
  background: #E1E4EB;
  width: 1110px;
  margin: auto;
  opacity: 0.4;
}

.footer__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  width: 1110px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__img {
  width: 30px;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */