@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
nav ul {
  margin: 0;
  padding: 6px;
  list-style: none;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}

.nav {
  font-family: 'Poppins', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  font-weight: 400;
  font-size: 16px;
  color: #111111;
}

.nav__buttons {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  color: #783BFF;
}

.nav__button__sign__up {
  outline: auto;
  color: #e1e4eb;
}

.home {
  font-family: 'Poppins', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 70%;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
}

.home__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: row;
}

.home__heading {
  font-size: 71px;
  font-weight: 400;
  line-height: 1.1;
}

.home__paragraph {
  font-size: 22px;
  font-weight: 400;
  width: 90%;
  margin-top: -15px;
}

.home__pic {
  display: block;
  position: relative;
  padding-top: 40px;
}

.home__list {
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 67%;
  padding-left: 1px;
}

.home__placeholder {
  padding: 10px 43px;
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: 5px;
  background-color: #eeecec;
}

.home__button {
  padding: 10px 43px;
  font-family: 'Poppins', sans-serif;
  background-color: #6AC75A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.lables {
  display: block;
  width: 82%;
  margin: auto;
  margin-top: 150px;
}

.lab__line {
  font-size: 1px;
  width: 87%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.list__labels {
  list-style: none;
  width: 94%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}
/*# sourceMappingURL=styles.css.map */